# © 2024 Fraunhofer-Gesellschaft e.V., München
#
# SPDX-License-Identifier: AGPL-3.0-or-later

__pycache__
*.coverage
report.xml
/pylint.log
.settings.json
logger.log
/doc/build
.ipynb_checkpoints
.idea
confidential.sqlite
/import/raw_data/eurostat/nrg_bal_c.tsv
/import/raw_data/eurostat/nrg_bal_c.tsv.gz
/import/raw_data/eurostat/estat_nrg_bal_c.tsv
/import/raw_data/eurostat/estat_nrg_bal_c.tsv.gz
.DS_Store
.vscode/
~$*
