# © 2024 Fraunhofer-Gesellschaft e.V., München
#
# SPDX-License-Identifier: AGPL-3.0-or-later

__pycache__
*.coverage
report.xml
/pylint.log
.settings.json
logger.log
/doc/build
.ipynb_checkpoints
.idea