# © 2024 Fraunhofer-Gesellschaft e.V., München
#
# SPDX-License-Identifier: AGPL-3.0-or-later

name: import

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  import:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: install system deps
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libcairo2-dev libpango1.0-dev pkg-config python3-dev
      - name: extract python version
        uses: ./.github/actions/extract-python-version
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: install dependencies
        run: |
          # python -m pip install --upgrade pip
          # also see settings in pyproject.toml
          pip install .[dev]  | grep -v 'already satisfied' # The grep part removes "already satisfied" messages from the pip3 install output on linux systems
      - name: import
        run: |
          cd import
          python a_run_all_public_data_imports.py
      - name: artifact
        uses: actions/upload-artifact@v6
        with:
          name: import
          path: src/micat/data/public.sqlite
